* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: initial;

}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7fae40;
    width: 100%;
    padding: 16px;
}


.navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}



/* MAIN */

/* ESTILO INICIO */
.contenedor-banner {
    width: 100%;
    height: 750px;
    animation: banner 20s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

@keyframes banner {

    0%,
    15% {
        background-image: url(../imagenes/Banner/reducido/img_1_org.jpg);
    }

    20%,
    35% {
        background-image: url(../imagenes/Banner/reducido/img_2_org.jpg);
    }

    40%,
    55% {
        background-image: url(../imagenes/Banner/reducido/img_3.jpg);
    }

    60%,
    75% {
        background-image: url(../imagenes/Banner/reducido/img_4_org.jpg);
    }

    80%,
    100% {
        background-image: url(../imagenes/Banner/reducido/img_5_org.jpg);
    }
}

.capa {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}

.info {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.info h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.info p {
    color: white;
    line-height: 1.5;
    margin-bottom: 30px;
}

.info a {
    color: black;
    text-decoration: none;
    background-color: #7fae40;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}

.contenedor-banner img {
    width: 100%;
}

.muestra__contenedor {
    width: 100%;
    height: 100%;
    margin: 50px auto;
}

.muestra__titulo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2rem;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.item-contenedor {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
    width: 300px;
    height: 300px;
    color: black;
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
}

.item__name {
    font-size: 18px;
    letter-spacing: 1px;
}

.item__image {
    position: absolute;
    bottom: 2rem;
    left: 5rem;
    height: 200px;
}

.formulario {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 2rem 0;
    text-transform: uppercase;
}

.btn_inicio button {
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #7fae40;
    color: black;
    margin: 20px 0 5px 0;
    font-weight: bold;
}

/* ESTILO PRODUCTOS */
.menu {
    padding: 3rem 0;
}

.menu__contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.menu__titulo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2rem;
}

.menu__categoria {
    text-decoration: underline;
    text-decoration-color: #7fae40;
    padding: 1rem 0;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.item {
    background-color: #00704A;
    width: 300px;
    height: 300px;
    color: black;
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
}

.item__name {
    font-size: 18px;
    letter-spacing: 1px;
}

.item__image {
    position: absolute;
    bottom: 2rem;
    left: 5rem;
    height: 200px;
}

.item--d1 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d2 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d3 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d4 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d5 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d6 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d7 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d8 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d9 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d10 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d11 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d12 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}

.item--d13 {
    background-image: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40);
}


/* ESTILO RECETAS */
.main-recetas {
    padding: 50px 0;
}

.main-recetas h1 {
    font-size: 35px;
    text-align: center;
    margin: 16px;
}

.recetas-contenedor {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.recetas {
    text-align: center;
}

.recetas h2 {
    margin: 1rem;
}

.recetas h3 {
    margin: 1rem;
}

.recetas ul {
    list-style: none;
    margin: 30px;
}

.recetas span {
    font-size: 18px;
    text-transform: uppercase;
}


/* ESTILO NOSOTROS */
.nosotros {
    margin: 200px 0;
}

.nosotros-titulo {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.nosotros-titulo h1 {
    font-size: 35px;
}

.nosotros-sub1 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    font-size: 1rem;
}

.nosotros-pre1 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
}

.nosotros-pre1 p {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 16px;
}

.nosotros-pre1 img {
    margin-left: 16px;
}

.nosotros-sub2 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    font-size: 1rem;
}

.nosotros-pre2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 40px 0;
    align-items: center;
}

.nosotros-pre2 p {
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0 0 16px;
}

.nosotros-pre2 img {
    margin-right: 16px;
}



/* ESTILO CONTACTO */
.contacto {
    margin: 100px 50px;
    text-transform: uppercase;
}

.contacto_seccion1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0 200px;
    border-radius: 35px;
}

.row {
    margin: 2rem;
    align-items: center;
}

.col-12 h1 {
    text-align: center;
}

.col-12 h2 {
    text-align: center;
}

.col-12 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 0 0;
}

.col-12 .mb-3 {
    width: 50%;
}

.mb-3 textarea {
    height: 100px;
}

.boton_form button {
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #7fae40;
    color: black;
}

.contacto_seccion2 {
    padding: 10px;
    margin: 0 200px;
}

.contacto_mapa {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* FOOTER */

.footer {
    background-color: #7fae40;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.datos_contenedor {
    margin: 50px 0;
    text-transform: uppercase;
}

.direccion,
.horario,
.telefono {
    padding: 5px;
}

div h1, h2 {
    font-size: 25px;
    font-weight: bold;
}

.logo2 {
    margin: 30px 120px 0 0;

}

.logo2 img {
    height: 200px;
    width: 200px;
}

.redes_sociales {
    margin: 70px 0;
}

.redes_sociales__nav {
    padding: 5px;
}

.copyrights {
    width: 100%;
    text-align: center;
    margin: 30px;
}



/* MEDIA QUERIES */

@media (max-width: 599px) {


    /* HEADER, PAGINA INICIO Y FOOTER */
    .header {
        flex-direction: column;
    }

    .navlinks ul {
        flex-direction: column;
        text-align: center;
    }

    .navlinks li {
        margin: 5px
    }

    .contenedor-banner {
        max-width: 100%;
        height: 400px;
        background-size: 100% 100%;
    }

    .info {
        top: 15%;
        left: 0;
        height: 100%;
    }

    .info h1 {
        font-size: 30px;
    }


    .titulo-productos {
        width: 75%;
        text-align: center;
    }

    .contenedor-productos .img_productos {
        text-align: center;
        width: 100%;
        margin: 2rem;
    }

    .img_productos img {
        width: 100%;
        height: 35%;
    }

    .formulario form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }

    .checkbox {
        margin: 5px;
    }

    .footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .datos_contenedor {
        margin: 50px 0 10px;
    }

    .direccion span {
        margin: 2px;
    }

    .horario h3,
    .horario span {
        margin: 2px;
    }

    .logo2 {
        margin: 10px 0;
    }

    .redes_sociales {
        margin: 10px 0;
    }

    /* PAGINA PRODUCTOS  */

    .menu__titulo {
        font-size: 25px;
        width: 100%;
    }

    /* PAGINA RECETAS */
    .recetas-videos {
        width: 100%;
    }

    /* PAGINA NOSOTROS */

    .nosotros-pre1 {
        flex-direction: column;
        text-align: center;
        justify-content: normal;
    }

    .nosotros-pre1 p {
        text-transform: uppercase;
        font-weight: bold;
        margin: 16px;
    }

    .nosotros-pre1 img {
        margin: 0;
        width: 100%;
    }

    .nosotros-sub2 {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        margin-top: 100px;
        font-size: 1rem;
    }

    .nosotros-pre2 {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }

    .nosotros-pre2 p {
        text-transform: uppercase;
        font-weight: bold;
        margin: 16px;
        text-align: center;
        justify-content: center;
    }

    .nosotros-pre2 img {
        margin: 0;
        width: 100%;
    }


    /* PAGINA CONTACTO */
    .contacto {
        margin: 0;
    }

    .contacto_seccion1 {
        margin: 0;
    }

    .row {
        margin: 1rem;
    }

    .col-12 form {
        margin: 1rem;
    }

    .col-12 .mb-3 {
        width: 100%;
    }

    .contacto_seccion2 {
        padding: 0;
        margin: 0;
    }

    .sub_ubicacion {
        margin: 1rem 0;
    }
}