* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: initial;
}

body {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    background-image: url(../imagenes/bg_bggenerator_com.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}