.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #7fae40;
    width: 100%;
    padding: 16px;
}

.navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}