/* ESTILO PRODUCTOS */
.menu {
  padding: 3rem 0;
}

.menu__contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.menu__titulo {
  font-size: 60px;
  text-align: center;
  margin-bottom: 2rem;
}

.menu__categoria {
  text-decoration: underline;
  text-decoration-color: #7fae40;
  padding: 1rem 0;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.item {
  background-color: #00704A;
  width: 300px;
  height: 300px;
  color: #black;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
}

.item__name {
  font-size: 18px;
  letter-spacing: 1px;
}

.item__image {
  position: absolute;
  bottom: 2rem;
  left: 5rem;
  height: 200px;
}

$degradados: (
     d1: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d2: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d3: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d4: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d5: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d6: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d7: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d8: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d9: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d10: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d11: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d12: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40),
     d13: radial-gradient(ellipse 100% 150px, #ffffff, #7fae40)
);

@for $i from 1 through 2 {
     .item--d#{$i} {
          background-image: map-get($degradados, d+$i);
     }
}