/* PAGINA PRODUCTOS */
.menu {
  margin: 100px 0px;
}

.menu__contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.menu__titulo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 2rem;
}

.menu__categoria {
  text-decoration: underline;
  text-decoration-color: #7fae40;
  padding: 1rem 0;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.item {
  background-size: cover;
  width: 300px;
  height: 300px;
  color: black;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
}

.item__name {
  font-size: 18px;
  letter-spacing: 1px;
}