.main1 {
    padding: 50px 0px 150px 0px;
}
 
.main1__productos_titulo {
     font-size: 35px;
     font-family: 'League Gothic', sans-serif;
     text-transform: uppercase;
     padding: 100px 0px 50px 46%;
}
 
.main1__productos_img {
     background-color: black;
     padding: 50px 0px 50px 55px;
     position: relative;
}
 
.main1__productos_imgp {
     border-radius: 5% 0% 5% 0%;
}
 
.main1__productos_boton {
     font-family: 'League Gothic', sans-serif;
     font-size: 25px;
     text-transform: uppercase;
     margin: 0px 0px 0px 908px;
}

$degradados: (
     d1: linear-gradient(153deg, #7fae40, #ffffff),
     d2: linear-gradient(153deg, #7fae40, #ffffff),
     d3: linear-gradient(153deg, #7fae40, #ffffff)
     );
     
@for $i from 1 through 2 {
     .item--d#{$i} {
          background-image: map-get($degradados, d+$i);
     }
}